alembic==1.6.5
arrow==1.1.1
backports.entry-points-selectable==1.1.0
brotlipy==0.7.0
cachelib==0.2.0
captcha==0.3
certifi==2020.12.5
cffi==1.14.4
chardet==3.0.4
click==8.0.1
colorama==0.4.4
conda==4.9.2
conda-package-handling==1.7.2
cryptography==3.3.1
distlib==0.3.2
docker==5.0.0
filelock==3.0.12
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
greenlet==1.1.0
gunicorn==20.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jinja2-time==0.2.0
make==0.1.6.post2
Mako==1.1.4
MarkupSafe==2.0.1
menuinst==1.4.16
Pillow==8.3.1
pip==21.2.2
platformdirs==2.2.0
postgres==3.0.0
psycopg2==2.9.1
psycopg2-binary==2.9.1
psycopg2-pool==1.1
pycosat==0.6.3
pycparser==2.20
pyOpenSSL==20.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-editor==1.0.4
pywin32==227
requests==2.25.0
ruamel-yaml-conda==0.15.80
setuptools==57.4.0
six==1.16.0
SQLAlchemy==1.4.22
tqdm==4.54.1
urllib3==1.25.11
virtualenv==20.6.0
websocket-client==1.1.0
Werkzeug==2.0.1
wheel==0.36.1
win-inet-pton==1.1.0
wincertstore==0.2
