body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  justify-content: space-between;
}

h1{
    text-align: center;
}

#iamnotarobot{
  width: 100%;
  height: 100%;
}

img {
  margin: auto;
}

.items img {
  width: 100%;
}

.items {
  display: grid;
  display: grid;
  gap: 30px;
  grid-template-columns: 20vw 20vw;
  margin: auto;
}

.stats_container {
  padding: 5px;
  margin-top: 50px;
  position: absolute;
  left: 0;
  background-color: grey;
  min-width: 20vw;
  color: white;
  transition: left .5s;
}

.inactive {
  left: -1000px;
}

.hello{
  text-align: center;
  margin: auto;
}

.point{
  background-color: green;
  position: absolute;
}

.btn {
  align-self: flex-start;
}

.main{
  width: 100%;
  text-align: center;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  gap: 10px;
  max-width: 100vw;
  padding: 0;
}


.alert {
  text-align: center;
    color: black;
    font-weight: bold;
    font-size: x-large;
    position: absolute;
    z-index: -1;
    width: 100vw;
    border-color: #b8daff;
    border-radius: 0;
}

.point {
    background-color: #b6ffb6;
}

.no_point {
    background-color: #faaeb5;
}
