html{
  font-size: 18px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
  justify-content: space-between;
}

/*disable all transition on page load*/
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1{
    text-align: center;
}

.navbar{
  padding: 0 1rem;
  z-index: 1;
}

.navbar-mobile .row {
  margin: 0;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.menu {
height: 100vh;
width: 100vw;
background-color: #00000045;
position: absolute;
top:0;
text-align: center;
z-index: 1;
}

.menu div {
  z-index: 2;
  box-shadow: 6px 1px 20px 0px #00000047;
  background-color: white;
  position: absolute;
  height: 100vh;
  min-width: 35vw;
  top: 0;
  right: 0;
  padding: 10px;
}

.menu li {
list-style-type: none;
}

.menu li li {
  margin-left: 1.5rem;
}

.menu ul {
  padding: 0;
  line-height: 2;
  text-align: left;
}

.closed{
  display: none;
}

.overflow{
  width: 100vw;
  overflow-x: auto;
}
}

#iamnotarobot{
  width: 100%;
  height: 100%;
}

#robot_ripples{
  background-image: url(/static/robot.jpg);
  min-height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.detail {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: #7f7f7f8c;
  display: none;
  width: 100%;
  height: 100%;
}

.detail .box{
  display: grid;
  position: fixed;
  background-color: lightpink;
  box-shadow: 0px 0px 20px 8px #0000003b;
  color: black;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  width: 70vw;
  height: 70vh;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
      "hd hd hd hd   hd   hd   hd   hd  "
      ". left left left right right right .";
}

.mobile .detail .box{
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: .75rem;
}

.mobile .detail h2 {
  font-size: 1rem;
}

.detail img {
  box-shadow: 0px 0px 8px 0px #6f6b6b6b;
  border-radius: none;
}

.detail svg{
  transform: rotate(0deg)!important;
  transition: transform .5s;
}


.detail svg:hover{
  transform: rotate(45deg)!important;
}

.detail header{
  grid-area: hd;
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
}

.detail div{
  grid-area: left;
}

.detail p {
  grid-area: right;
  text-align: left;
  padding: 0 0 0 20px;
}

.detail .container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.open {
  display: grid;
  overflow: hidden;
}

.blur::after{
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.header {
  background-image: url(/static/workstation.svg);
  height: 35vh;
  background-position: center;
  background-size: cover;
}

img {
  margin: auto;
  max-width: 100%;
}

.border-radius{
    border-radius: 10px 10px 0 0;
}

.items img, .items video {
  width: 100%;
}

.item{
  border-radius: 10px;
  background-color: black;
  color: white;
  font-weight: bold;
  position: relative;
}

.items .item:hover {
  margin-top: -5px;
}

.items {
  display: grid;
  display: grid;
  gap: 30px;
  grid-template-columns: 20vw 20vw;
  margin: auto;
  justify-content: center;
}

.mobile .items{
  grid-template-columns: 1fr;
  margin: 0 20px;
}

.stats_container {
  left:-1000px;
  padding: 5px;
  position: absolute;
  background-color: #6c757d;
  color: white;
  transition: left .5s;
  display: flex;
  flex-direction: row-reverse;
}


.cart_container {
  background-color: white;
  position: absolute;
  right: 0;
  padding: 10px;
  z-index: 1;
  box-shadow: -3px 7px 20px 0px #0000002b;
}

.cart_container td {
  padding: 5px 12px;
}

.cart_container button {
  border: none;
  background-color: transparent;
}

.cart_container form, .cart_container input[type="submit"]{
  background-color: black;
  color: white;
  border: none;
  width: 100%;
}

.active {
  left: 0px!important;
}

.mobile .active{
  top: 60px!important;
  left: 50%!important;
}

.hello{
  text-align: center;
  margin: auto;
}

.point{
  background-color: green;
  position: absolute;
}

.container_main {
  max-width: 100vw;
  padding: 0;
  text-align: center;
}

form {
  display: flex;
flex-direction: column;
gap: 7px;
width: fit-content;
margin: auto;
}

form .btn {
  align-self:center;
}

.alert {
    font-size: small;
    padding: 10px;
    line-height: 1;
    text-align: center;
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-animation: jello-vertical 0.9s both;
    animation:jello-vertical 0.9s both ;
}

.point {
    background-color: #b6ffb6;
}

.no_point {
    background-color: #faaeb5;
}

#captcha{
    box-shadow: 0px 0px 4px 1px #0000003d;
}

#work_input{
  font-size: 16px;
}

.vertical {
  writing-mode: vertical-lr;
  padding: 10px 5px 10px 15px;
}

.mobile .vertical {
  writing-mode: horizontal-tb;
}

/* Ribbon from NxWorld https://www.nxworld.net/pure-css-corner-ribbon.html */
/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -10px;
  right: -10px;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #666666;
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: darkgrey;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.ribbon::before {
  top: 0;
  left: 0;
}
.ribbon::after {
  bottom: 0;
  right: 0;
}
