{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
{% block body_class %}
    "d-block"
{% endblock %}
{% block main %}

<div class="header"></div>

<p class="container text-left mt-4">
  Captchacoin ia a web based application that lets you earn coins by solving captchas.
  This fictive crypto currency does not rely on computers proving their work but on 100% human work.
  All transactions are shown on the "Blockchain" and like in the real world of crypto you can go to
  the shop and get yourself some NFT's.
  <br>
  The dollar CaptchaCoin exchange rate is based on what real workers get by solving captchas.
  There are a number of companies that provide the service of captcha solving to bypass restictions on the web.
  For image captchas the wage is around 1$ per 1000 captchas.
</p>

{% endblock %}
