{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
{% block body_class %}
    "d-block"
{% endblock %}
{% block main %}

<div class="header"></div>
<div class="container text-left mt-4">
  <h3>CaptchaCoin - human first</h3>
  <p>
    Captchacoin ia a web based application that lets you earn coins by solving captchas.
    This fictitious crypto currency does not rely on computers proving their work but on 100% human work.
    All transactions are shown on the "Blockchain" and like in the real world of crypto you can go to
    the shop and get yourself some NFT's.
    <br>
    The dollar CaptchaCoin exchange rate is based on what real workers get by solving captchas.
    There are a number of companies that provide the service of captcha solving to bypass restictions on the web.
    For image captchas the wage is around 0.2 - 0.7$ per 1000 captchas. An average worker will be able to solve
    1000 captchas in 4-5 hours. On a 10 hour day they will earn 0.4 - 1.4$.


    <hr>

    <h4>Weblinks</h4>
    <br>
    <ul>
      <li><a target="_blank" href="https://anti-captcha.com/">Anti-Captcha</a> Captcha Solving Service</li>
       <li><a target="_blank" href="https://www.f5.com/labs/articles/cisotociso/i-was-a-human-captcha-solver">I was a human captcha solver</a> Article by Dan Woods</li>
       <li><a target="_blank" href="https://www.usenix.org/legacy/event/sec10/tech/full_papers/Motoyama.pdf">Understanding CAPTCHA-Solving Services in an
Economic Context</a> Paper by Marti Motoyama, Kirill Levchenko, Chris Kanich, Damon McCoy,
Geoffrey M. Voelker and Stefan Savage
University of California, San Diego</li>
      <li><a href="https://www.zdnet.com/article/inside-indias-captcha-solving-economy/">Inside indias captcha solving economy</a> Article by Dancho Danchev</li>
    </ul>


        <hr>
        Concept and developement by <a target="_blank" href="veronikasimmering.de">Veronika Simmering </a>

  </p>

</div>



{% endblock %}
