{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}
{% block body_class %}
    "d-block"
{% endblock %}
{% block main %}

<div class="header"></div>
<div class="container text-left mt-4">
  <h3>CaptchaCoin - human first</h3>
  <p>
    Captchacoin ia a web based application that lets you earn coins by solving captchas.
    This fictitious crypto currency does not rely on computers proving their work but on 100% human work.
    All transactions are shown on the "Blockchain" and like in the real world of crypto you can go to
    the shop and get yourself some NFT's.
    <br>
    The dollar CaptchaCoin exchange rate is based on what real workers get by solving captchas.
    There are a number of companies that provide the service of captcha solving to bypass restictions on the web.
    For image captchas the wage is around 0.7$ per 1000 captchas.
  </p>


    <img src="static\earth.svg" alt="" width="150px">
    <h3>Beacause we care</h3>
    <p>
      Our centralized system doesn't require many resources. Thus, in contrast to other crypto currencies
      like Bitcoin or Ethereum we are Eco friendly. In terms of security, we count on a tried and tested
      means: Trust in humans! According to our motto "human first" we want the work and transactions made
      by humans to be supervised by humans as well.
    </p>
</div>



{% endblock %}
