{% extends "layout.html" %}

{% block title %}
    Blockchain
{% endblock %}

{% block main %}
    <h2>Blockchain</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Amount</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
          {% for row in table %}
              <tr>
                  <td>{{row.name}}</td>
                  <td>{{row.receiver_id}}</td>
                  <td>{{row.amount}}</td>
                  <td>{{row.timestamp | datetime}}</td>
               </tr>
          {% endfor %}
      </tbody>

    </table>
{% endblock %}
