{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
    <div id="robot_ripples"></div>

    <div class="hello">
        <h1>Hello {{info.name}}</h1>
        <p>Current status: {{info.cash}} Coins <br> {{info.cash | dollar}} </p>
        <p>Public key: <span class="bg-dark text-light p-1">{{info.public_key}}</span></p>
        <a href="/work"><button class="btn btn-secondary">Go to work</button></a>
    </div>
{% endblock %}


<!--    <img src="/static/robot.png" id="iamnotarobot">-->
