{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
      {% if registered %}

          <h2>Your wallet key</h2>
          <p>With this key you can log into your Account
          <br>
          Make sure to save the key at a secure place.</p>
          <p class="bg-dark text-light p-2">{{key}}</p>
          <h2>This is your public-key</h2>
          <p>Others can sent you coin with this key</p>
          <h3 class="bg-dark text-light p-2">{{public_key}}</h3>
          <a href="/login"><button class="btn btn-secondary">Login</button></a>

      {% else %}

          <form action="/register" method="post">
              <h2>Register</h2>
              <input type="text" name="name" placeholder="Name">
              <button type="submit" name="button" class="btn btn-secondary">Generate Wallet Key</button>
          </form>

      {% endif %}
{% endblock %}
