{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block cart %}
<a onclick="open_cart()" id="cart">
  <span class="iconify" data-icon="clarity:shopping-cart-line" style="font-size: 33px;"></span>
</a>
{% endblock%}

{% block main %}

   <div class="cart_container d-none">
     <p>Your Shopping Cart</p>
     <table>
       {% for item in inventory %}
       <tr class="d-none" data-id="{{item._id}}">
         <td>{{item.name}}</td>
         <td>{{item.price | coins}} Coins</td>
         <td><button type="button" name="button" data-id="{{item._id}}">
           <span class="iconify" data-inline="false" data-icon="ci:close-big" style="font-size: 22px;"></span>
         </button></td>
        </tr>
       {% endfor %}
       <tr class="d-none" id="empty">
         <td>Your cart is empty</td>
       </tr>
     </table>
     <form action="/shop" method="post">
       <input class="d-none" name="cart_items">
       <input type="submit" name="" value="Buy" onclick="clear_list()">
     </form>
   </div>


    <h1>Shop</h1>
    {% if rest != none %}
    <p class="bg-dark text-light p-2">You need to earn {{rest}} more Coins to buy this item <br>
      <a href="/about" class="text-light">Why is this so expensive?</a>
    </p>
    {% endif %}

    <div class="items pt-2">
    {% for item in inventory %}
    <div class="item" data-id="{{item._id}}">
        <img src="{{item.img}}" class="border-radius">
        <p>{{item.name}}<br> Price {{item.price}}$ <br> {{item.price | coins}} Coins</p>
        <div class="detail">
           <header>
             <h2>{{item.name}}</h2>
             <span class="iconify" data-inline="false" data-icon="ci:close-big" style="font-size: 44px;"></span>
           </header>

          <div>
            {% if item.content != "" %}
              <video  autoplay  loop>
                 <source src="{{item.content}}" type="video/mp4" poster="{{item.img}}">
              </video>
            {% else %}
            <img src="{{item.img}}">
            {% endif %}
                <br>
                <button class="btn btn-dark add_card" name="price" value="{{item._id}}">
                  Add to cart</button>
          </div>

          <p>
            Price {{item.price | coins}} Coins ({{item.price}}$)<br>
            Format: {{item.type}} <br>
            Duration: {{item.duration}} <br>
            Title: {{item.name}} <br>
            Edition: {{item.edition}}/6 <br>
            After purchase you will get a link to download the file
          </p>
        </div>
      </div>
        {% endfor %}

    </div>


    <script type="text/javascript">

    const items = document.querySelectorAll(".item");
    const btns = document.querySelectorAll(".add_card");
    const cart_container = document.querySelector(".cart_container");
    const cart_value = document.querySelector("input[name=cart_items]");
    var list = [];


    function clear_list(){
      localStorage.removeItem("cart");
    }

    function open_cart(open){
      popoulate_cart();
      if (cart_container.classList.contains("d-none") || open)
      {
        cart_container.classList.remove("d-none");
      }
      else {
        cart_container.classList.add("d-none");
      }
    }

    function popoulate_cart(){
            const li_items = cart_container.querySelectorAll("tr");
            const empty = cart_container.querySelector("#empty");
            console.log(list.length);
            if (list.length < 1 && empty.classList.contains("d-none"))
            {
               empty.classList.remove("d-none");
               console.log("y")
            }
            else
            {
             if (empty.classList.contains("d-none"))
              {
                empty.classList.add("d-none");
                console.log("x")
            }
              li_items.forEach((item, i) => {
                if (list.includes(item.dataset.id)){
                  var close = item.querySelector("button")
                  item.classList.remove("d-none");
                  close.addEventListener("click", remove_item)
                }
               else if (!item.classList.contains("d-none")) {
                 item.classList.add("d-none");
               }
              });
            }
            cart_value.value = list;
    }

    function remove_item(e){
      console.log(this.dataset.id)
      var newlist = list.filter(num => num != this.dataset.id);
      localStorage['cart'] = JSON.stringify(newlist);
      cart_check();
      open_cart(true);
      popoulate_cart();
      cart_value.value = newlist;
    }

    function addto_cart(e){
        list.push(this.value);
        localStorage['cart'] = JSON.stringify(list);
        cart_check();
        open_cart(true);
        cart_value.value = list;
    }

    function cart_check(){
      if (localStorage['cart'] != undefined)
      {
          list = JSON.parse(localStorage["cart"]);
      }
      if (list.length > 0)
      {
        const cart_icon = document.querySelector('#cart');
        cart_icon.innerHTML = '<span class="iconify " data-icon="clarity:shopping-cart-outline-badged" style="font-size: 33px;""></span>';
      }
    }

    function show_details(e){
      detail = this.querySelector(".detail");
      detail.classList.toggle("open");
      localStorage.setItem('detail', this.dataset.id);
    }

    items.forEach((item) => {
      item.addEventListener('click', show_details);
    });

    cart_check();

    btns.forEach((item, i) => {item.addEventListener
      ("click", addto_cart)
    });

  </script>

{% endblock %}
