{% extends "layout.html" %}

{% block title %}
    Shop
{% endblock %}

{% block cart %}
<a onclick="open_cart()" id="cart">
  <span class="iconify" data-icon="clarity:shopping-cart-line" style="font-size: 33px;"></span>
</a>
{% endblock%}

{% block main %}

   <div class="cart_container d-none">
     <p>Your Shopping Cart</p>
     <table>
       {% for item in inventory %}
       <tr class="d-none" data-id="{{item._id}}">
         <td>{{item.name}}</td>
         <td>{{item.price | coins}} Coins</td>
         <td><button type="button" name="button" data-id="{{item._id}}">
           <span class="iconify" data-inline="false" data-icon="ci:close-big" style="font-size: 22px;"></span>
         </button></td>
        </tr>
       {% endfor %}
       <tr class="d-none" id="empty">
         <td>Your cart is empty</td>
       </tr>
     </table>
     <form action="/shop" method="post" class="mt-3">
       <input class="d-none" name="cart_items">
       <input type="submit" name="" value="Buy" onclick="clear_list()">
     </form>
   </div>


    <h1>Shop</h1>
    {% if rest != none %}
    <p class="bg-dark text-light p-2">You need to earn {{rest}} more Coins to buy this item <br>
      <a href="/about" class="text-light">Why is this so expensive?</a>
    </p>
    {% endif %}

    <div class="items pt-2">
    {% for item in inventory %}
    <div class="item" data-id="{{item._id}}">
        <img src="{{item.img}}" class="border-radius">
        <p>{{item.name}}
        {% if item.edition != 0%}
          {{item.edition}}
          {% endif %}
          <br> Price {{item.price}}$ <br> {{item.price | coins}} Coins</p>
        <div class="detail">
          <div class="box">
            <header>
              <h2>{{item.name}}</h2>
              <span class="iconify" data-inline="false" data-icon="ci:close-big" style="font-size: 44px;"></span>
            </header>

           <div>
             {% if "mp4" in item.content %}
               <video  autoplay  loop>
                  <source src="static/{{item.content}}" type="video/mp4" poster="{{item.img}}">
               </video>
             {% else %}
             <img src="{{item.img}}">
             {% endif %}
             {% if item.owner_name == "Shop" %}
                 <button class="btn btn-dark add_card mt-2" name="price" value="{{item._id}}">
                   Add to cart</button>
              {% else %}
              <p>Item owned by {{item.owner_name}}</p>
              {% endif %}
           </div>

           <p>
             Price {{item.price | coins}} Coins ({{item.price}}$)<br>
             Format: {{item.type}} <br>
             Duration: {{item.duration}} <br>
             Title: {{item.name}} <br>
             Edition: {{item.edition}}<br>
             After purchase you will get a link to download the file
           </p>
          </div>
        </div>
        {% if item.owner_name != "Shop" %}
        <div class="ribbon">
	      <span>sold</span>
      </div>
        {% endif %}
        </div>
        {% endfor %}

    </div>


    <script src="/static/js/shop.js"></script>

{% endblock %}
