{% extends "layout.html" %}

{% block title %}
    Transfer
{% endblock %}

{% block main %}

<div class="info_container">
<p class="vertical">Looking for someone?</p>
<form>
    <input type="text" class="search" autofocus>
    <ul class="suggestions">
      {% for person in persons %}
            <li class="d-none person" data-name="{{person.name}}">{{person.name}} - public key: <span class="bg-dark text-light">{{person.public_key}}</span></li>
      {% endfor %}
    </ul>
</form>
</div>

<span>
  <h2>Transfer money</h2>
  <h3>Your current status <br>
  {{cash}} Coins</h3>
  <h4>{{cash | dollar}}</h4>
  <form action="transfer" method="post">
    <label for="">Send to</label>
    <input type="text" name="receiver" placeholder="put in public key here">
    <input type="number" name="amount" placeholder="amount" min="1">
    <input type="submit" value="Submit" class="btn btn-secondary btn-sm">
  </form>
</span>
    </form>
    {% if enough == false %}
    <p> You dont have enough coins for this transaction</p>
    {% endif %}
    {% if receiver == false %}
    <p> this public key does not exist</p>
    {% endif %}
    {% if success == true %}
    <p> Transaction was successful</p>
    {% endif %}



    <script src="/static/js/transfer.js"></script>

{% endblock %}
