{% extends "layout.html" %}

{% block title %}
    Work
{% endblock %}

{% block main %}

    <audio class="win">
    <source src="/static/win.wav" type="audio/wav">
    </audio>
    <audio class="loose">
    <source src="/static/loose.wav" type="audio/wav">
    </audio>


    <div class="stats_container">
      <span class="vertical">
      Show Stats
      </span>
    <span class="text-left">
      <p>
            Average solving time
            <br>
            {{avg_time}} Seconds
          </p>
          <p>
            Average sucess rate
            <br>
            {{sucess_rate}}%
          </p></span>

    </div>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert {{category}}">{{ message }}</div>
    {% endfor %}


    <h2 class="p-3 d-none d-md-block">Earn Captcha Coin here</h2>
    <h3>Current cash {{cash}} Coins</h3>
    <h4>{{cash | dollar}}</h4>
    <p>time of last solved captcha {{time}} seconds
      <img class="sound" alt="" width="20px">
    </p>
    <img id="captcha" src="data:image/jpeg;base64,{{ captcha }}" alt="captcha" class="mb-2">
    <form method="post" action="/validate">
      <input type="text" name="key" id="work_input" data-added="0" autocomplete="off" autofocus>
      <button type="submit" name="time" id="work_submit" class="btn btn-secondary btn-sm" onsubmit="this.disabled = true">
        Send
      </button>
    </form>

    <script src="/static/js/work.js"></script>
{% endblock %}
