{% extends "layout.html" %}

{% block title %}
    Work
{% endblock %}

{% block main %}
    <div class="btn">
        <button type="button" id="stats" class="btn btn-secondary">Show Stats</button>
    </div>

    <div class="inactive stats_container">
      <p>
        Average solving time
        <br>
        {{avg_time}} Seconds
      </p>
      <p>
        Average sucess rate
        <br>
        {{sucess_rate}}%
      </p>
    </div>

    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert {{category}}">{{ message }}</div>
    {% endfor %}

    <div class="main">
    <h2 class="p-3">Earn Captcha Coin here</h2>
    <h3>Current cash {{cash}} Coins</h3>
    <p>time of last solved captcha {{time}} seconds</p>
    <img id="captcha" src="data:image/jpeg;base64,{{ captcha }}" alt="">
    <form action="validate" method="post">
      <input type="text" name="key" id="work_input" autocomplete="off">
      <input type="submit" id="work_submit" name="time" class="btn btn-secondary btn-sm">
    </form>
    </div>
    <script type="text/javascript">
      $('#robot_ripples').ripples();
    </script>
{% endblock %}
